{% extends 'game.base.html.twig' %}

{% block page_content %}
<div data-ajax-element="alerts" data-ajax-type="html">  </div>
<div data-ajax-element="game" data-ajax-type="html">
    <div class="well well-sm">
        <h4>
            Instalation Complete <small class="pull-right tiny"> By <a href="?page=profile&amp;view=1" class="user user-status-1 user-level-2" style="color: #FFFFFF;"> reashetyr </a> Friday 17th April 11:27 </small>
            <div class="clearfix"></div>
        </h4>
        <hr>
        <p>GL v2 successfully installed</p>
    </div>
</div>
{% endblock %}